<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Orders</title>
</head>
<body>
<div>
    <div th:each="order : ${orderList}">
        <div th:object="${order}">
            <span th:text="*{id}"></span>
            <span th:text="*{userAccountNum}"></span>
        </div>
    </div>
    <div th:each="order : ${orderList}">
        <div th:each="product: ${order.products}">
            <span th:text="${product.name}"></span>
        </div>
    </div>
    <div th:each="order : ${orderList}">
        <div th:each="amount : ${order.amounts}">
            <span th:text="*{amount}"></span>
        </div>
    </div>
</div>
</body>
</html>